.eateries-container {
    margin: 25px auto;
}

.eateries-container .eateries-container-filters-sort {
    display: flex;
    justify-content: space-between;
}

.eateries-table {
    margin: 25px auto;
}

.eateries-table-header td {
    text-transform: capitalize;
}

.eateries-table-result td {
    text-transform: capitalize;
}

.eateries-table-result .map-icon {
    cursor: pointer;
    margin-left: 3px;
}

.eateries-table-result td:last-child {
    width: 30%;
}
