.history-container {
    margin: 25px auto;
}

.history-button {
    cursor: pointer;
}

.history-table {
    margin: 25px auto;
}

.history-table-header td {
    text-transform: capitalize;
}

.history-table-result td {
    text-transform: capitalize;
}

.history-table-result .map-icon {
    cursor: pointer;
    margin-left: 3px;
}
