.filters-options-container {
    display: flex;
}

.filters-container h6 {
    margin: auto 0;
}

.filters-container .dropdown-button {
    margin: 0 5px;
}

.filters-container .dropdown-button .type-options,
.filters-container .dropdown-button .price-options,
.filters-container .dropdown-button .proximity-options {
    text-transform: capitalize;
}

.filters-container .selected-options-container,
.filters-container .selected-options-container,
.filters-container .selected-options-container {
    margin: 0;
    padding: 3px 5px;
    display: flex;
    flex-direction: row;
}

.filters-container .selected-options-container .selected-type-options,
.filters-container .selected-options-container .selected-price-options,
.filters-container .selected-options-container .selected-proximity-options {
    text-transform: capitalize;
    display: flex;
    flex-wrap: wrap;
}

.filters-container .selected-options-container .selected-type-options .selected-option,
.filters-container .selected-options-container .selected-price-options .selected-option,
.filters-container .selected-options-container .selected-proximity-options .selected-option {
    margin: 5px;
}

/* mobile css */
@media only screen and (max-width: 480px) {
    .eateries-container-filters-sort .filters-container {
        display: flex;
        flex-direction: column;
    }

    .eateries-container-filters-sort .filters-container .filters-options-container h6 {
        display: none;
    }

    .eateries-container-filters-sort .filters-container .filters-options-container {
        display: flex;
        flex-wrap: wrap;
    }

    .eateries-container-filters-sort .sort-container {
        display: block;
        width: 25%;
    }

    .filters-container .dropdown-button,
    .filters-container .filters-options-container .filters-options-clear {
        margin: 5px 5px;
    }
}
